* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1634px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Roboto", sans-serif;
}

body.locked {
  overflow: hidden;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #383838;
  text-align: center;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

nav {
  overflow: hidden;
}

.logo {
  margin: 19px 65px 19px 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar #icon {
  margin-right: 26px;
  margin-left: 29px;
}

.navbar__btn {
  border: 1px solid #3A85F4;
  border-radius: 123px;
  padding: 12px 33px 10px 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #3A85F4;
}

.navbar__btn:hover {
  background-color: rgba(58, 133, 244, 0.2);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 55px;
  margin-top: 15px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #575756;
}

.menu__item-link:hover {
  color: #2f2f2f;
}

.burger {
  display: none;
  cursor: pointer;
}

.hero {
  background: -o-linear-gradient(347.71deg, #ffffff 31.27%, #cce7ff 81.44%);
  background: linear-gradient(102.29deg, #ffffff 31.27%, #cce7ff 81.44%);
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content {
  max-width: 580px;
  margin: auto;
}

.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 105.5%;
  color: #2f2f2f;
}

.hero__text {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #2f2f2f;
  margin: 33px 0 58px 0;
}

.hero__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 44px;
  background: #3a85f4;
  border-radius: 123px;
}

.hero__btn:hover {
  background: rgba(58, 133, 244, 0.8);
}

.works {
  margin-top: 125px;
  margin-bottom: 145px;
}

.works__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 54px;
}

.works__steps-img {
  background: #FEFEFF;
  -webkit-box-shadow: 0px 3px 17px rgba(43, 123, 211, 0.15);
          box-shadow: 0px 3px 17px rgba(43, 123, 211, 0.15);
  border-radius: 14px;
  width: 266px;
  height: 267px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.works__steps-title {
  margin-top: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.works__steps-item {
  max-width: 266px;
}

.works__step-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.community__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 224.19%;
  color: #464646;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 35px;
}

.community__links {
  margin-bottom: 35px;
  margin-top: 10px;
}

.community__link {
  margin-right: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 10px 15px 8px;
  border-radius: 75px;
  background: #ebfffa;
  color: #00a880;
}

.community__link.--active-link {
  color: #bc9300;
  background: #fdffe7;
}

.community__price {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #2f2f2f;
  margin-left: 10px;
  margin-right: 20px;
}

.community__text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 105%;
  color: #2f2f2f;
  margin-bottom: 27px;
}

.community__title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #505050;
  margin-bottom: 10px;
}

.community__text-comment {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.005em;
  color: #2f2f2f;
  margin-bottom: 27px;
}

.community__link-rewards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 54px 0;
}

.community__link-rewards.--justify {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.community__link-reward {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3a85f4;
  padding: 9px 21px 7px;
  border: 1px solid #3a85f4;
  border-radius: 75px;
  display: inline-block;
}

.community__link-reward:last-child {
  padding: 9px 16px 7px;
}

.community__teg {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: lowercase;
  color: #2f2f2f;
  background: #f3f3f3;
  border-radius: 75px;
  padding: 8px 15px 8px 34px;
  position: relative;
}

.community__teg.--more:last-child {
  padding: 8px 16px 8px 17px;
}

.community__teg.--more:last-child::after {
  background-image: none;
}

.community__teg::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  background-image: url(../img/tag_icon.svg);
  height: 11px;
  width: 11px;
}

.community__user {
  margin: 20px 0 15px;
  border-top: 1px solid #cadcf8;
  border-bottom: 1px solid #cadcf8;
  padding-top: 16px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.community__user-icon img {
  border-radius: 50%;
}

.community__user-name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2f2f2f;
}

.community__user-education {
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2f2f2f;
}

.community__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.community__rating-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #3a85f4;
  margin-left: 5px;
}

.community__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.community__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 37px 10px 37px;
  background: #3a85f4;
  border-radius: 123px;
}

.community__btn:hover {
  background: rgba(58, 133, 244, 0.8);
}

.community__btn.--active {
  background: #d9d9d9;
  padding: 12px 27px 10px 48px;
  position: relative;
}

.community__btn.--active:hover {
  background: #c8c1c1;
}

.community__btn.--active::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 21px;
  height: 24px;
  width: 24px;
  background-image: url(../img/done.png);
}

.community__btn-more {
  border: 1.5px solid #3a85f4;
  height: 41px;
  width: 41px;
  border-radius: 50%;
  background-image: url(../img/more_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.community__btn-more:hover {
  border: 1.5px solid #113e82;
}

.community__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 47px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.community__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  background: #fefeff;
  -webkit-box-shadow: 0px 3px 17px rgba(43, 123, 211, 0.15);
          box-shadow: 0px 3px 17px rgba(43, 123, 211, 0.15);
  border-radius: 10px;
  padding: 14px 25px 25px 25px;
}

.community__show-btn {
  margin-top: 50px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.community__show-link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #3a85f4;
  padding: 15px 63px;
  border: 2px solid #3a85f4;
  border-radius: 123px;
}

.community__show-link:hover {
  border: 2px solid #315fa4;
  color: #315fa4;
}

footer {
  background: #262628;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 67px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 41px 0 23px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 67px;
}

.footer__menu-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer__menu-link:hover {
  color: #dfc5c5;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.author__name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.author__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #888888;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }

  .hero__image {
    width: 60%;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "black";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "black";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}